<ion-header>
  <ion-toolbar color="light">
    <img src="../../assets/data/logo.png" width="100px" alt="" />

    <ion-buttons slot="end">
      <ion-button size="small">
        <ion-icon name="tv-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light">
    <div class="button-bar">
      <ion-button
        [ngClass]="{'active': seg.selected, 'inactive': !seg.selected}"
        *ngFor="let seg of segments; let i = index"
        (click)="selectSegment(i)"
        size="small"
      >
        {{seg.title}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
