<ion-header>
  <ion-toolbar color="light">
    <img src="../../assets/data/logo.png" width="100px" alt="" />

    <ion-buttons slot="end">
      <ion-button size="small">
        <ion-icon name="tv-outline"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button size="small">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
